.App {
  text-align: center;
  height: 600px;
  width: 400px;
}

.h-10 {
  height: 10%;
}

.h-80 {
  height: 80%;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

.scroll {
  max-height: 100%;
  overflow-y: auto;
}

.bg-primary {
  color: #121212;
}

.bg-secondary {
  color: #222222;
}

.base {
  background-color: #121212;
}

.base-1 {
  background-color: #222222;
}

.surface {
  color: #333333;
}

